.btn-submit
    width 100%
    color white
    background orange
    padding 0.3em 1.5em
    font-size 1.5em
    font-family fjalla one
    text-decoration none
    font-weight bold
    margin 0.2em 0
    border-radius 0
    
button
    border 0
 
.banner__button,
.servicios__button,
.clientes__button
    .btn-submit
        border-radius 0
        padding 0.3em 2.5em
        font-size 1.5em 
	
