//edit()

body
	margin 0 auto
	padding 0
	font-family Abel, Anton, sans-serif
	font-size 16px
	font-size 1rem
	width 100%
	min-width b1	

.header
	padding 0.5em 3%
	position relative
	+above(b2)
		display flex
		justify-content space-between
	.logo
		align-self center
		.logotipo
			float left
			.slogan
				//width 260px
				img
					display block
			+above(b2)
				display flex
				align-content center
				img
					width 300px
		.toggle-menu
			float right
			font-size 2.3em
			text-align center
			color #143856ff
			
			position absolute
			top 0.5em
			right 3%
			+above(b2)
				display none
		
	.main-nav
		clear both
		+above(b2)
			align-self right
			display flex
			flex-direction column
			justify-content space-around
		&__cont
			display none
			+above(b2)
				display flex!important
		&__list
		&__item
			+above(b2)
				display flex
		&__link
			display block
			text-align left
			text-decoration none
			font-family Abel
			font-size 1.03em
			color #23282cff
			&:hover
				background grey_dark
				color white
			+above(b2)
				width 6em
				text-align center
				padding 0.6em
				
	.menu-social
		text-align center
		display none
		+above(b2)
			align-self flex-end
			display block
		&__list
		&__item
			+above(b2)
				display flex
		&__link
			padding 0.25em
			text-decoration none
			font-size 1.6em
			color grey
						
.banner
	+above(b2)
		background-image url("img/videotablet.jpg") 
		background-repeat no-repeat
		background-position center
		background-attachment fixed
		background-size cover
	+above(b3)
		background-image url("img/videopc.jpg")
	&__overlay
	&__cont
	&__content
		.header-banner
			line-height 1
			text-align center
			+above(b2)
				width 640px
				margin auto
			+above(1280px)
				padding-top 8vh
				width 100%
		.video-banner
			background-image url("img/videomovil.jpg")
			background-repeat no-repeat
			background-position center
			background-size 100%
			padding 1em
			+above(b2)
				background-image none
			p
				margin 0
				font-size 1em
	&__button
		margin 1.5em 0

.valores
	&__header
	&__cont
	&__item
		figure
			padding 0
			margin-bottom 3em
			//margin 3em 0
			.valores-img
				margin auto
				width 120px
			figcaption
				margin auto
				text-align center
				width 90%
				h4
					color grey
			+above(b2)
				display flex
				margin 1em 0
				figcaption
					//margin 0
					text-align left
					width 66%
			+above(b2)
				.valores-img
					margin 0
				figcaption
					margin-left 4%
					
.servicios
	&__header
		margin-bottom 2em
	&__cont
		width 100%
		margin auto
	&__item
		padding-bottom 2em
		margin auto
		+above(b2)
			width 32.9%
			display inline-block
		figure
			padding-bottom 3em
			margin auto
			+above(b1)
				padding 0 5%
				margin 0 auto
			.servicio-img
				margin auto
				width 280px
				+above(b2)
					width 100%
				img
					border-radius 50%
			figcaption
				text-align center
				a
					text-decoration none
					h3
						padding-top 0.8em
						+between(b2,b3)
							width 80%
							margin auto
	&__button
		padding 1.5em 0
		text-align center
		
.equipo
	&__header
		margin-bottom 3em
	&__cont
		width 100%
	&__item
		color white
		margin-bottom 2em
		padding 0 3em
		+above(b1)
			padding 0
		+between(b1,640px)
			width 48%
			display inline-block
			margin auto	
		+above(640px)
			display flex
			flex-direction row
			flex-wrap wrap
			justify-content center
		figure
			margin 0
			background white
			margin-bottom 1em
			img
				padding-top 1em
			
			figcaption
				padding 1em 0
				p
					margin 0

.clientes
	&__header
		display none
		h2
			color grey
		+above(b2)
			display block
	&__cont
		display none
		+above(b2)
			display flex
		padding-bottom 2em
	&__item
		a
			display flex
			img
				margin auto
				align-self center
				width 100%
	&__button
		padding 1.5em 0
		text-align center

.footer
	.contact
		clear both
		&__header
			width 80%
			margin 2em 0
		&__subtitle1
			width 100%
			+above(b2)
				display none
		&__subtitle2
			display none
			+above(b2)
				display block
		&__form
			box-sizing border-box 
			width 100%
			padding 1em
			
		.menu-social
			&__list
			&__item
				display inline-block
			&__link
				padding 0.25em
				font-size 1.6em
				text-decoration none
				color white
		&__info
			margin-top 2em
			margin-bottom 1.5em
			p
				color yellow
				margin 0
				font-size 1.1em
				span
					color white
		
	.contact-right
		+above(b2)	
			width 60%
			float right
			margin-top 2em
			margin-bottom 4em
			text-align left
			
	.contact-left
		+above(b2)	
			width 35%
			float left
			margin-top 2em
			text-align left
		
	.credits
		clear both
		padding 1em 2em 
		&__copyright
			display inline-block
		&__author
			float right
			display inline-block
			a
				text-decoration none
				p
					color yellow
		+above(b2)
			display flex
			justify-content space-between


//****************
// SECCIONES:
// Crecimiento
// Coaching
// Charlas
// RSE
//++++++++++++++++


.servicio-crecimiento,
.servicio-coaching,
.servicio-charlas,
.servicio-rse

	&__item
		+above(b2)
			display flex
			flex-direction row
			justify-content space-around
			padding-bottom 1em
		
	&__header
		width 100%
		
		+above(b2)
			width 40%
			text-align left
			margin-right 2em
		p
			color white
	
	&__img-mob
		padding 2em
		img
			display block
		+above(b2)
			display none

	&__img-tab
		padding 0
		display none
		+above(b2)
			align-self center
			display block
		+above(b3)
			display none
		
	&__img-pc
		display none
		+above(b3)
			display block

.banner-middle,			
.banner-middle-rse,
.banner-middle-charlas,
.banner-middle-coaching,
.banner-middle-crecimiento
	background-attachment fixed
	background-size cover
	background-position center
	background-repeat no-repeat
	&__overlay
		//background-color red
		//opacity 0.35
	&__cont
	&__info
		p
			font-family Abel
			font-size 2.2em
			color white
			text-align center
			+above(b1)
				font-size 2.2em
			+above(b2)
				font-size 3.125em

.banner-middle
	background-image url("img/banner-middle_mob.jpg")
	+above(b2)
		background-image url("img/banner-middle_tab.jpg")
	+above(b3)
		background-image url("img/banner-middle_pc.jpg")
			
.banner-middle-rse
	background-image url("img/rse/banner-middle_mob.jpg")
	+above(b2)
		background-image url("img/rse/banner-middle_tab.jpg")
	+above(b3)
		background-image url("img/rse/banner-middle_pc.jpg")
			
.banner-middle-charlas
	background-image url("img/charlas/banner-middle_mob.jpg")
	+above(b2)
		background-image url("img/charlas/banner-middle_tab.jpg")
	+above(b3)
		background-image url("img/charlas/banner-middle_pc.jpg")
			
.banner-middle-coaching
	background-image url("img/coaching/banner-middle_mob.jpg")
	+above(b2)
		background-image url("img/coaching/banner-middle_tab.jpg")
	+above(b3)
		background-image url("img/coaching/banner-middle_pc.jpg")
			
.banner-middle-crecimiento
	background-image url("img/crecimiento/banner-middle_mob.jpg")
	+above(b2)
		background-image url("img/crecimiento/banner-middle_tab.jpg")
	+above(b3)
		background-image url("img/crecimiento/banner-middle_pc.jpg")