section.clientes.bg--white.box
	div.max-width
		.clientes__header.text--center
			h2.title--sub2 Ellos confían en nosotros
		.clientes__cont.mob-2-vga-3-pc-5
			.clientes__item
				a(href="#")
					img(src="img/01_papamono.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/02_sak.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/03_aha.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/04_beyondenglish.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/05_conac.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/06_ninoycancer.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/07_flosinlimites.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/08_killcliff.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/09_accioncrossfit.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="#")
					img(src="img/10_adapkine.jpg", class="img-responsive", alt="")

		p.text--p2.text--center No dudes en comunicarte. Te esperamos.
		.clientes__button
			a(href="#contactanos").btn-submit Contáctanos