section.clientes.bg--white.box
	div.max-width
		.clientes__header.text--center
			h2.title--sub2 Ellos confían en nosotros
		.clientes__cont.mob-2-vga-3-pc-5
			.clientes__item
				img(src="img/01_papamono.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/02_sak.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/03_aha.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/04_logo.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/05_logo.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/06_ninoycancer.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/07_flosinlimites.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/08_killcliff.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/09_accioncrossfit.png", class="img-responsive", alt="")
			.clientes__item
				img(src="img/10_adapkine.png", class="img-responsive", alt="")

		p.text--p2.text--center No dudes en comunicarte. Te esperamos.
		.clientes__button
			a(href="#contactanos").btn-submit Contáctanos