section.clientes.bg--white.box
	div.max-width
		.clientes__header.text--center
			h2.title--sub2 Ellos confían en nosotros
			br
		.clientes__cont.mob-2-vga-3-pc-5
			.clientes__item
				a(href="http://www.papamonochile.cl/", target="_blank", title="Papa Mono")
					img(src="img/01_papamono.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="https://www.facebook.com/KINEPRACTICA/",target="_blank", title="Clínica SAK")
					img(src="img/02_sak.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://ahaglobalconsulting.com/" ,target="_blank", title="AHA Global Consulting")
					img(src="img/03_aha.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.beyond-english.org/" ,target="_blank", title="Beyond English")
					img(src="img/04_beyondenglish.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.conac.cl/" ,target="_blank", title="Corporación Nacional del Cáncer")
					img(src="img/05_conac.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.ninoycancer.cl/" ,target="_blank", title="Niño y Cáncer")
					img(src="img/06_ninoycancer.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.flosinlimites.com/" ,target="_blank", title="Flos sin Límites")
					img(src="img/07_flosinlimites.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.killcliff.cl/" ,target="_blank", title="Kill Cliff")
					img(src="img/08_killcliff.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="http://www.accioncrossfit.cl/" ,target="_blank", title="Acción Crossfit")
					img(src="img/09_accioncrossfit.jpg", class="img-responsive", alt="")
			.clientes__item
				a(href="https://www.facebook.com/AdapKine-630422157091396/" ,target="_blank", title="AdapKine")
					img(src="img/10_adapkine.jpg", class="img-responsive", alt="")

		p.text--p2.text--center No dudes en comunicarte. Te esperamos.
		.clientes__button
			a(href="#contactanos").btn-submit Contáctanos