<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Crecimiento Deportivo
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", type="text/css", href="style.css")
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='js/main.js')
    script(type='text/javascript').
        Shadowbox.init();
body
    include header.jade
    main#main
    section.banner(role="banner").box-min.bg--grey-dark
        div.max-width
            .header-banner.text--center
                h1.title--main CRECIMIENTO DEPORTIVO 
                p.text--main.text--white Se promueven y difunden los valores deportivos entre los jovenes que quieran desarrollarse en liderazgo, responsabilidad, compromiso y sobre todo respeto mutuo, con los cuales se genera un buen crecimiento en el proceso de enseñanza y aprendizaje.
            .banner__cont
                .banner__main
                    .video-banner
                        a(rel='shadowbox;width=405;height=340;', title='Ironwill', href='http://www.youtube.com/v/W5BPCpYousY&rel=0&autoplay=1')
                            img(src="img/ironwill-video.jpg", class="img-responsive", alt="")
                include form.jade

    section.valores.bg--blue-sky.box
        div.max-width
            .valores__cont.mob-tab-2
                .valores__item
                    figure
                        .valores-img
                            img(src="img/crecimiento/bene01.svg", class="img-responsive", alt="")
                        figcaption
                            h4.title--sub4 Capacitación:
                            p.text--p4 Hoy en día es una herramienta imprescindible de cambio positivo en las personas y en las empresas; no es solamente un entrenamiento o instrucción, es en sí mismo un concepto de educación.
                .valores__item
                    figure
                        .valores-img
                            img(src="img/crecimiento/bene02.svg", class="img-responsive", alt="")
                        figcaption
                            h4.title--sub4 Universalidad:
                            p.text--p4 Los entrenamientos están dirigidos para cualquier edad y son ideales para personas que quieran entrenar en grupo. Son recomendables para quienes buscan bajar de peso, perder grasa, fortalecerse y mejorar su resistencia ya que este tipo de movimientos se trabaja la coordinación, fuerza, resistencia y agilidad. 
                .valores__item
                    figure
                        .valores-img
                            img(src="img/crecimiento/bene03.svg", class="img-responsive", alt="")
                        figcaption
                            h4.title--sub4 Superación:
                            p.text--p4 Ayuda a la formación de las personas que actúan directamente en la educación del ser humano y que contribuyen a elevar su nivel de conocimientos, capacidades y habilidades con las que se adquieren un conjunto de experiencias positivas reales.
                .valores__item
                    figure
                        .valores-img
                            img(src="img/crecimiento/bene04.svg", class="img-responsive", alt="")
                        figcaption
                            h4.title--sub4 Funcionalidad: 
                            p.text--p4 Mediante movimientos plenamente funcionales los entrenamientos se convierten en clases que incorporan en la vida cotidiana, por lo que te fortalecen y  preparan tu cuerpo para enfrentarse al día a día. Existen distintos tipos de ejercicios en el que cambian de nombre dependiendo de su complejidad, lo cual hace que tu cuerpo realice un entrenamiento completo.

    article.servicio-crecimiento.bg--grey-medium.box#servicios
        div.max-width
            .servicio-crecimiento__item.text--center
                .servicio-crecimiento__header
                    h2.title--sub2 ¿Que hacemos?
                    p.text--p2 El propósito más importante de nuestra asesoría como consultores es intervenir de forma positiva a cada persona que así lo necesite, sin importar cualquier otro factor. Lo llevamos a cabo mediante un apoyo integral para quien así lo requiera, el objetivo en específico es lograr cumplir con todas las expectativas diseñadas previamente y así le permitan cambiar su actual punto de equilibrio a una percepción con mejor objetividad para alcanzar sus metas.
                .servicio-crecimiento__img
                    img(src="img/crecimiento/crecimiento-img.jpg", class="img-responsive", alt="")
            .servicios__button
                a(href="#contactanos").btn-submit Contáctanos
    
    section.banner-middle
        .banner-middle__cont
            .banner-middle__img-mob
                img(src="img/crecimiento/banner-middle_mob.jpg", class="img-responsive", alt="")
            .banner-middle__img-tab
                img(src="img/crecimiento/banner-middle_tab.jpg", class="img-responsive", alt="")
            .banner-middle__img-pc
                img(src="img/crecimiento/banner-middle_pc.jpg", class="img-responsive", alt="")

            .banner-middle__info
                p.text--center No puedes poner un límite a nada. Cuanto más sueñas, más lejos llegas.

    include equipo.jade
    include clientes.jade
    include footer.jade
