footer(role="contentinfo").footer.bg--grey-medium
	div.max-width--extra
		.contact.text--center.box#contactanos
			.contacto__header
				h2.title--sub2-extra Ponte en contacto ya mismo. ¡Te esperamos!
			.contact__subtitle1
				p.text--p4.text--white Solo escríbenos y cuéntanos sobre tus inquietudes y nos comunicaremos lo más pronto posible contigo

			.contact-right
				.contact__form
					include form.jade
			
			.contact-left
				.contact__subtitle2
					p.text--main.text--white Solo escríbenos y cuéntanos sobre tus inquietudes y nos comunicaremos lo más pronto posible contigo
				
				.contact__info
					p Contacto: 
						span 954 39893 43
					p Mail: 
						span hola@ironwill.work
				
				.menu-social
					ul.menu-social__list.non-margin.list-none
						-var menu = { "icon-facebook": "https://facebook.com/ironwillchile/", "icon-instagram": "https://instagram.com/ironwillchile/" };
						each val, key in menu
							li.menu-social__item
								a(href=val, target="_blank", class=key).menu-social__link

		.credits.bg--grey-dark
			.credits__copyright
				p.text--p3.text--white Todos los derechos reservados
			.credits__author
				a(href="http://dilodigital.com", target="_blank")
					p.text--p3.text--white Diseñado por Dilodigital.com

