footer(role="contentinfo").footer
	.contacto.bg--grey-medium
		.contacto-logo
			img(src="img/ironwill-isotipo.png", width="100", heigth="80" alt="")
		.menu-social
			ul.menu-social__list.non-margin
				li.menu-social__item
					a(href="#").menu-social__link.icon-facebook
					a(href="#").menu-social__link.icon-twitter 
					a(href="#").menu-social__link.icon-instagram
			.contacto-info
				p.correo hola@ironwill.work

	.footer-credits.bg--grey-dark
		.footer-credits__copyright
			p.text--p3.text--white Todos los derechos reservados
		.footer-credits__author
			a(href="http://dilodigital.com", target="_blank")
				p.text--p3.text--white Diseñado por Dilodigital.com  