header.header#header(role="presentation").bg--white
	.logo
		a(href="#").logotipo
			.isotipo
				img(src="img/ironwill-isotipo.png", width="100", heigth="80" alt="")
			.slogan
				img(src="img/ironwill-slogan.png", width="300", heigth="80", alt="")
		.toggle-menu.icon-menu#menu


	nav.main-nav#navigation(role="navigation")
		//-.contacto
			p.fono F T I

		.menu-social
			ul.menu-social__list.non-margin
				li.menu-social__item
					a(href="#").menu-social__link.icon-facebook
					a(href="#").menu-social__link.icon-twitter 
					a(href="#").menu-social__link.icon-instagram
		
		.main-nav__cont#target
			ul.main-nav__list.non-margin
				li.main-nav__item.list-none
					a(href="#servicios").main-nav__link Servicios
					a(href="#servicios").main-nav__link Blog
					a(href="#servicios").main-nav__link RSE
					a(href="#contactanos").main-nav__link Contáctenos
		