main#main
	section.banner(role="banner").bg--grey-dark
		.banner__overlay
			.banner__cont.box
				.banner__content.text--center.max-width
					.header-banner
						h1.title--main TU EQUIPO TIENE MUCHO MÁS QUE DAR
						p.text--main.text--white ¿Qué es IronWill? Es una consultora dedicada a entregar servicios de comunicación motivacional y de responsabilidad social que busca generar un impacto positivo en los públicos y en sus entornos.
					.video-banner
						a(rel='shadowbox;width=560;height=315;', title='Ironwill', href='http://www.youtube.com/embed/W5BPCpYousY?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0')
							img(src="img/play.png", width="100", alt="")
						p.text--main.text--white Ver Video
					.banner__button
						a(href="#contactanos").btn-submit Contáctanos
					.banner__dropdown
						a(href="#valores")
			img(src="img/down.png",width="40", alt="")
	section.valores.bg--blue-sky.box#valores
		div.max-width
			.valores__cont.mob-tab-2
				.valores__item
					figure
						.valores-img
							img(src="img/bene01.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Mayor productividad:
							p.text--p4 “Coaching” es una disciplina que ayuda a potenciar las capacidades de las personas. De esta manera, es posible lograr que el desempeño individual y de los equipos de trabajo, sea mucho más eficiente, productivo y satisfactorio.
				.valores__item
					figure
						.valores-img
							img(src="img/bene02.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Motivamos equipos:
							p.text--p4 Es fundamental tener un equipo que cumpla con ciertas características: compañerismo, sentimientos de pertenencia y satisfacción, entusiasmo y por sobre todo, ganas de alcanzar un objetivo común. Por eso, nos enfocamos en impulsar las buenas relaciones, tanto en lo laboral como en lo personal. Recordemos que un equipo motivado es siempre mejor que uno presionado. 
				.valores__item
					figure
						.valores-img
							img(src="img/bene03.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Mejor aprendizaje:
							p.text--p4 Aprende a fortalecer las habilidades y competencias de tu equipo sin pérdidas de tiempo. Mediante “coaching” podrás realizar actividades en tu mismo lugar de trabajo, en un entorno conocido y vivencial, para lograr un completo desarrollo del rendimiento grupal.
				.valores__item
					figure
						.valores-img
							img(src="img/bene04.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Crecimiento deportivo: 
							p.text--p4 ¿Buscas desarrollar el lado intelectual y mejorar la capacidad física de tu equipo? También contamos con interesantes actividades deportivas orientadas al crecimiento de grupos humanos. Si sientes que ya eres bueno, espera a que te ayudemos a llegar al siguiente nivel.

	article.servicios.bg--grey-medium.box#servicios
		div.max-width
			.servicios__header.text--center
				h2.title--sub2 ¿Que hacemos?
			.servicios__cont
				.servicios__item
					figure
						a(href="http://ironwill.work/coaching.html")
							.servicio-img
								img(src="img/coaching.jpg", class="img-responsive", alt="")
						figcaption
							a(href="http://ironwill.work/coaching.html")
								h3.title--sub3 coaching integrativo
				.servicios__item
					figure
						a(href="http://ironwill.work/charlas.html")
							.servicio-img
								img(src="img/charlas.jpg", class="img-responsive", alt="")
						figcaption
							a(href="http://ironwill.work/charlas.html")
								h3.title--sub3 charlas motivacionales
				.servicios__item
					figure
						a(href="http://ironwill.work/crecimiento.html")
							.servicio-img
								img(src="img/crecimientodep.jpg", class="img-responsive", alt="")
						figcaption
							a(href="http://ironwill.work/crecimiento.html")
								h3.title--sub3 crecimiento deportivo
				
			.servicios__button
				a(href="#contactanos").btn-submit Contáctanos

	section.banner-middle
		section.banner-middle-crecimiento(role="banner")
			.banner-middle-crecimiento__overlay
				.banner-middle-crecimiento__cont.box.max-width
					.banner-middle-crecimiento__info
						p Logra tus metas, ahora y siempre
