<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Ironwill
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", type="text/css", href="style.css")

body
    include header.jade
    include principal.jade
    include equipo.jade
    include clientes.jade
    include footer.jade

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='js/main.js')
    script(type='text/javascript').
        Shadowbox.init();