main#main
	section.banner(role="banner").box-min.bg--grey-dark
		div.max-width
			.header-banner.text--center
				h1.title--main TU EQUIPO TIENE MUCHO MÁS QUE DAR 
				p.text--main.text--white Consultora dedicada a entregar servicios de comunicación motivacional y de responsabilidad social para nuestros clientes. Con el objetivo de generar un impacto positivo en nuestros público y su cultura interna organizacional
			.banner__cont
				.banner__main
					.video-banner
						a(href="#")
							img(src="img/ironwill-video.jpg", class="img-responsive", alt="")
				include form.jade

	section.valores.bg--blue-sky.box
		div.max-width
			.valores__cont.mob-tab-2
				.valores__item
					figure
						.valores-img
							img(src="img/productividad.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Mayor productividad:
							p.text--p4 Nos enfocamos en las personas y en sus buenas relaciones, tanto en lo laboral como en lo personal, logrando un equipo humano motivado y de excelencia. Recordenos que un equipo motivado es siempre mejor que uno presionado.
				.valores__item
					figure
						.valores-img
							img(src="img/motivacion.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Motivamos equipos:
							p.text--p4 Construcciones versátiles e incluso adaptables según la concepción arquitectónica, la cual puede reforzarse o modiﬁcarse con facilidad. 
				.valores__item
					figure
						.valores-img
							img(src="img/aprendizaje.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Mejor aprendizaje:
							p.text--p4 Aprende a resaltar y dar forma a tu equipo de trabajo con el coaching al favorecer el aprendizaje sin perdidas de tiempo, ya que permite lograrlo sin dejar las tareas habituales ni el lugar de trabajo en un entorno conocido y vivencial.
				.valores__item
					figure
						.valores-img
							img(src="img/crecimiento.png", class="img-responsive", alt="")
						figcaption
							h4.title--sub4 Crecimiento deportivo: 
							p.text--p4 Contamos con interesantes actividades deportivas orientadas al crecimiento y desarrollo de grupos humanos. Si sientes que ya eres bueno espera a que te ayudemos a llegar al siguiente nivel.

	article.servicios.bg--grey-medium.box#servicios
		div.max-width
			.servicios__header.text--center
				h2.title--sub2 ¿Que hacemos?
			.servicios__cont.mob-vga-2-pc-3
				.servicios__item
					figure
						a(href="#")
							.servicio-img
								img(src="img/coaching.jpg", class="img-responsive", alt="")
						figcaption
							a(href="#")
								h3.title--sub3 coaching integrativo
				.servicios__item
					figure
						a(href="#")
							.servicio-img
								img(src="img/charlas.jpg", class="img-responsive", alt="")
						figcaption
							a(href="#")
								h3.title--sub3 charlas motivacionales
				.servicios__item
					figure
						a(href="#")
							.servicio-img
								img(src="img/crecimientodep.jpg", class="img-responsive", alt="")
						figcaption
							a(href="#")
								h3.title--sub3 crecimiento deportivo
				
			.servicios__button
				a(href="#contactanos").btn-submit Contáctanos

	section.banner-middle
		.banner-middle__cont
			.banner-middle__img-mob
				img(src="img/banner-middle_mob.jpg", class="img-responsive", alt="")
			.banner-middle__img-pc
				img(src="img/banner-middle_pc.jpg", class="img-responsive", alt="")
			.banner-middle__info
				p.text--center Logra tus metas, ahora y siempre
